body {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  font-family: 'Coda', cursive;
  background-image: url(../img/roborogers2.png), linear-gradient(#1b64c3, #3aa8dd);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0vw 0vh;
}

p {
  font-family: monospace;
  font-size: 25px;
  line-height: 10px;
}

.jumbotron {
  width: 50vw;
  min-width: 400px;
  text-align: center;
  background-color: rgba(73, 64, 97, 0);
  color: rgba(237, 20, 39);
  text-shadow: -3px 3px 5px black, -4px 4px 5px rgb(104, 15, 15);
  margin-top: 3vh;
}

.jumbotron h1 {
  font-size: 60px;
  font-family: 'Yellowtail', cursive;
}

.welcome {
  display: flex;
  justify-content: center;
  margin-left: 75px;
  margin-right: 75px;
}

#robo {
  width: 50vw;
  min-width: 400px;
  background-color: rgba(73, 64, 97, 0);
  color: rgb(255, 230, 230);
  text-shadow: -5px 5px 4px black, -4px 6px 4px rgb(25, 62, 104);
  margin-left: 20vw;
  margin-top: 10vh;
}

#robo h2 {
  font-size: 40px;
  font-weight: 600;
}

#robo p {
  margin-left: 5vw;
  margin-bottom: 25px;
  font-weight: 550;
}

input#input {
  width: 175px;
  padding: 4px;
  margin-left: 13vw;
  box-shadow:  -5px 5px 5px rgba(97, 67, 88, 0.452), 5px -5px 5px rgba(97, 67, 78, 0.452);
}

.btn {
  margin-left: 14vw;
  background-color: rgba(187, 104, 104, 0.479);
  border: 5px inset rgba(117, 65, 69, 0.7);
  margin-top: -3px;
  box-shadow: -5px 5px 5px 2px rgba(196, 82, 130, 0.226), -2px 2px 5px 5px inset rgba(102, 63, 78, 0.466);
}

.btn-block {
  margin-left: 0vw;
}

.row {  
  justify-content: center;
  align-content: center;
  width: 80vw;
  margin-top: 10vh;
}

#result {
  display: none;
}

#result h3 {
  font-size: 40px;
  font-weight: 900;
}

#result p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 800;
}

#user {
  align-self: center;
  float: left;
  min-width: 400px;
  background-color: rgba(73, 64, 97, 0);
  color: rgb(255, 230, 230);
  text-shadow: -5px 5px 4px black, -4px 6px 4px rgb(25, 62, 104);
}

#roboger {
  float: left;
  min-width: 400px;
  background-color: rgba(73, 64, 97, 0);
  color: rgb(255, 230, 230);
}

#roboger h3 {
  text-shadow: -5px 5px 4px black, -4px 6px 4px rgb(25, 62, 104);
}

#roboger p {
  font-size: smaller;
  letter-spacing: -1px;
  line-height: 12px;
}

#msg {
  z-index: -3;
  width: 100%;
  height: fit-content;
} 

.msgAdj {
  position: absolute;
  width: 290px;
  margin-top: 25px;
  left: 50px;
}